input, button, iframe {
  border-style: solid;
  border-color: green;
  border-width: thin;
  border-radius: 5px;
}
body button {
background-color: green;
color: white;
transition: color 1s background-color 1s;
}
button :hover {
background-color: white;
color: green;
transition: color 1s background-color 1s;
}
